/.vscode
/blackjack.py
/bogo sort.py
/C# Pratice
/C++_Practice.cpp
/Chess without unicode.py
/Chess.py
/ConsoleApp1
/cs testing
/Doubling_input
/Fibbbonaci number finder
/fibonacci sequence.py
/File sharing
/Longest Substring without repeating characters
/new spanish.txt
/Number Palindrome Checker
/Palindrome checker.py
/Prime checker faster.py
/Prime checker.py
/Prime Number Finder
/python testing.py
/randomness checker.py
/sorting algorithms.py
/Spanish words.py
/spanish.txt
/string_reverser.py
/substring maximiser.py
/Sudoko Creater
/word replacer retry.py
/word replacer.py
/Year_13_SSD_CA
/Sentence_Replacing
/DateTime_Practice
/ConsoleApp2
/Classes
/C# Interfaces & classes
